In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_json(r"C:\Users\T14 Gen 3\tir102_02\apod_data_tir102_g2.json")
df.head(5)

,date,explanation,hdurl,media_type,service_version,title,url,copyright
0,2024-01-01,Galaxies are fascinating not only for what is ...,https://apod.nasa.gov/apod/image/2401/ngc1232b...,image,v1,NGC 1232: A Grand Design Spiral Galaxy,https://apod.nasa.gov/apod/image/2401/ngc1232b...,NaN
1,2024-01-02,"Can a rocket make the Moon ripple? No, but it ...",https://apod.nasa.gov/apod/image/2401/FalconMo...,image,v1,Rocket Transits Rippling Moon,https://apod.nasa.gov/apod/image/2401/FalconMo...,\nSteven Madow\n
2,2024-01-03,What is that unusual red halo surrounding this...,https://apod.nasa.gov/apod/image/2401/SarArcNz...,image,v1,A SAR Arc from New Zealand,https://apod.nasa.gov/apod/image/2401/SarArcNz...,\nTristian McDonald;\nText: Tiffany Lewis \n(M...
3,2024-01-04,"Like a ship plowing through cosmic seas, runaw...",https://apod.nasa.gov/apod/image/2401/ZetaOph_...,image,v1,Zeta Oph: Runaway Star,https://apod.nasa.gov/apod/image/2401/ZetaOph_...,NaN
4,2024-01-05,"Near the center of this sharp cosmic portrait,...",https://apod.nasa.gov/apod/image/2401/Image964...,image,v1,Trapezium: At the Heart of Orion,https://apod.nasa.gov/apod/image/2401/Image964...,Fred Zimmer

In [50]:
df = df.reindex(columns=['date', "title", "media_type", "copyright"]) #重新安排欄位順序
df['copyright'] = df["copyright"].str.replace('\n', '') #去除換行符號
df.head()

,date,title,media_type,copyright
0,2024-01-01,NGC 1232: A Grand Design Spiral Galaxy,image,NaN
1,2024-01-02,Rocket Transits Rippling Moon,image,Steven Madow
2,2024-01-03,A SAR Arc from New Zealand,image,Tristian McDonald;Text: Tiffany Lewis (Michiga...
3,2024-01-04,Zeta Oph: Runaway Star,image,NaN
4,2024-01-05,Trapezium: At the Heart of Orion,image,Fred Zimmer

In [48]:
#建立連線
engine = create_engine('mysql+pymysql://root:password@localhost:3306/Astronomy')

In [49]:
try:
    df.to_sql('APOD', con=engine, if_exists='append', index=False)
    print(f"Data added successfully")
except Exception as e:
    print(f"Data addition failed")

Data added successfully

In [33]:
#底下為新增資料時出現錯誤，測試使用，可忽略
row_data = df.iloc[91]
row_data

date                                        2024-04-01 00:00:00
title         Swirling Magnetic Field around Our Galaxy's Ce...
media_type                                                image
copyright                                                   NaN
length                                                       62
Name: 91, dtype: object

In [42]:
test_data = df['copyright'].str.len().max()
test_data

np.float64(125.0)